table
{
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
}
td { 
    width: 15px;
    height: 20px;
}

.selection-table, .buttons-table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 20%;
}

p {
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15385;
}

.buttonclass {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  white-space: normal;
  margin: 0;
  width: 12.5%;
  /* min-height: 50px;
  min-width: 120px; */
  /* padding: 20px 20px; */
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.buttonclass:hover {
  transform: translateY(-4px);
}

@media (min-width: 768px) {
  .buttonclass {
    min-width: 150px;
  }
}